@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<div class="jumbotron">
  <h1>Treat details</h1>
</div>

<h2>@Html.DisplayFor(model => model.Name)</h2>

<hr />

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Treat does not have any flavors</p>
}
else
{
  <h4>Flavors this treat has:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Flavor.Name</li>
  }
  </ul>
}
<hr />

<p>@Html.ActionLink("Back", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>