<!DOCTYPE html>
<html>
<head>
  <title>Pierre's Treats</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Log In</h1>
    </div>

    @using PierresTreats.ViewModels
    @model LoginViewModel

    <h2>Login or click register to register</h2>
    <hr />
    @using (Html.BeginForm())
    {
      @Html.LabelFor(m => m.Email)
      @Html.TextBoxFor(m => m.Email)

      @Html.LabelFor(m => m.Password)
      @Html.PasswordFor(m => m.Password)

      <input type="submit" value="Log In" class="btn btn-default" />
    }

    <p>@Html.ActionLink("Register", "Register")</p>
  </div>
</body>
</html>